body {
  margin: 0;
  font-family: 'Arsenal', sans-serif;
}

.corner-button {
  position: absolute;
  top: 20px;      /* jarak dari atas */
  right: 20px;    /* jarak dari kanan */
}

.corner-button button {
  position: fixed;
  right: 20px;    /* jarak dari kanan */
  background-color: #8a2be2;   /* warna ungu */
  border: none;
  border-radius: 50px;         /* sudut membulat */
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;                   /* jarak antar ikon */
  cursor: pointer;
  z-index: 1;                 /* pastikan di atas elemen lain */
}

.corner-button .icon {
  font-size: 18px;
  text-decoration: none;
  color: black;
}


.logo{
  position: fixed;
    margin: 0px auto;
    top: -20px;
    bottom: 0px;
    z-index: 1;
}
.logo img{
    height: 112px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 20%;
  background-color: #EDF5FE;      
  padding: 20px 70px;
  border-radius: 15px;             
  width: fit-content;             
  margin: 0px auto;        
  z-index: 1;       

  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}


.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 200px;                      
}

.navbar a {
  text-decoration: none;
  color: #333;                   
  font-weight:normal;
  font-size: 20px;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #d78b8b;                 
}

html {
  scroll-behavior: smooth;         /* efek scroll halus */
}