.hero {
      background: rgba(0, 0, 0, 0.5) url(pixtures/guidelinebanner.jpg) no-repeat center center/cover;
      height: 120vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    }
    